/* This style sheet is used to customize the fonts, colors and view port break points. */

/* Fonts uses google font api */
body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 300;
    font-size: 16px;
}

img, object, embed, video {
	max-width: 100%;
}

.text-upper {
	text-transform: uppercase;
}

.text-muted {
	color: #7d97ad;
}

.text-thin {
	font-weight: 300;
}


.title-h1 {
	font-size: 30px;
}

.title-h2 {
	font-size: 24px;
}

.title-h3 {
	font-size: 24px;
}

.title-h4 {
	font-size: 16px;
}

/* Default size is xs. Fonts are set to match the mock at medium and large
resolutions or devide widths. */
@media screen and (min-width: 760px) {
	.title-h1 {
		font-size: 60px;
	}

	.title-h2 {
		font-size: 36px;
	}

	.title-h3 {
		font-size: 36px;
	}

	.title-h4 {
		font-size: 20px;
	}
}

/* Add margins and keep width to normal desktop width for wider screens */
@media screen and (min-width: 970px) {
	.container {
		max-width: 970px;
		margin-left: auto;
		margin-right: auto;
	}
}

.text-center {
	text-align: center;
}

.img-project {
    margin: 0 auto;
}

.title-img {
    margin-top: 35px;
    width: 80px;
    max-width: 100%;
}

hr {
	height: 4px;
	background-color: #7d97ad;
}

/*Shows links without underline and with the right color */
nav a {
	display: block;
	color: #2d3c49;
	min-height: 48px;
	min-width: 48px;
}
